@font-face {
    font-family: 'Nunito Sans-el';
    src: url('../fonts/NunitoSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/NunitoSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans-lg';
    src: url('../fonts/NunitoSans-Light.woff2') format('woff2'),
        url('../fonts/NunitoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans-sb';
    src: url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans-bold';
    src: url('../fonts/NunitoSans-Bold.woff2') format('woff2'),
        url('../fonts/NunitoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans-eb';
    src: url('../fonts/NunitoSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans-black';
    src: url('../fonts/NunitoSans-Black.woff2') format('woff2'),
        url('../fonts/NunitoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}



